@use '../../sass/variables' as *;
@use '../../sass/functions' as *;

.calculator-header {
  width: 100%;
  display: flex;
  margin: rem(8);
  padding: rem(18);
  align-items: flex-end;
  justify-content: space-between;
  color: var(--text-color-header);
  h1 {
    font-size: rem(36);
    line-height: 1;
  }

  &__theme-toggle-container {
    display: flex;
    align-items: flex-end;
    span {
      margin-right: rem(10);
      font-size: rem(16);
    }
    .theme-toggle-button__label-group {
      display: flex;
      justify-content: center;
      gap: rem(10);
      .theme-toggle-button__label {
        cursor: pointer;
        font-size: rem(16);
      }
    }
    .theme-toggle-button__input-group {
      position: relative;
      background-color: var(--toggle-keypad-background);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rem(24);
      border-radius: 50px;
      width: rem(60);
      .theme-toggle-button__input {
        opacity: 0;
        cursor: pointer;
      }
    }
    .theme-toggle-button__key {
      position: absolute;
      width: rem(16);
      height: rem(16);
      background-color: var(--toggle-key-background);
      border-radius: 50%;
      transition: all 0.5s;
      left: rem(4);
    }
  }
}
