@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

html {
  font-size: 16px;
}
body {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  background-color: var(--body-color);
}

body.theme-blue {
  --body-color: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background-secondary: hsl(225, 21%, 49%);
  --key-shadow-secondary: hsl(224, 28%, 35%);
  --toggle-key-background: hsl(6, 63%, 50%);
  --toggle-key-shadow: hsl(6, 70%, 34%);
  --key-background-primary: hsl(30, 25%, 89%);
  --key-shadow-primary: hsl(28, 16%, 65%);
  --text-color: hsl(221, 14%, 31%);
  --text-color-header: rgb(255, 255, 255);
}
body.theme-cyan {
  --body-color: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background-secondary: hsl(185, 42%, 37%);
  --key-shadow-secondary: hsl(185, 58%, 25%);
  --toggle-key-background: hsl(25, 98%, 40%);
  --toggle-key-shadow: hsl(25, 99%, 27%);
  --key-background-primary: hsl(45, 7%, 89%);
  --key-shadow-primary: hsl(35, 11%, 61%);
  --text-color: hsl(60, 10%, 19%);
  --text-color-header: hsl(224, 36%, 15%);
}
body.theme-violet {
  --body-color: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background-secondary: hsl(281, 89%, 26%);
  --key-shadow-secondary: hsl(285, 91%, 52%);
  --toggle-key-background: hsl(176, 100%, 44%);
  --toggle-key-shadow: hsl(177, 92%, 70%);
  --key-background-primary: hsl(268, 47%, 21%);
  --key-shadow-primary: hsl(290, 70%, 36%);
  --text-color: hsl(52, 100%, 62%);
  --text-color-header: hsl(52, 100%, 62%);
}
